<div class="panel panel-default col col-xs-6">
    <div class="panel-heading">Add or edit Place</div>
    <div ng-if="!updatModeFlag" class="panel-body">
        <label>Name</label>
        <input type="text" ng-model="newPlace.name"><br />

        <label>City</label>
        <input type="text" ng-model="newPlace.city"><br />

        <label>Street</label>
        <input type="text" ng-model="newPlace.street"><br />

        <label>Number</label>
        <input type="text" ng-model="newPlace.buildingNumber"><br />

        <label>Phone</label>
        <input type="text" ng-model="newPlace.phone"><br />

        <div class="form-group">
            <label>City</label>
            <select class="form-control" ng-model="newPlace.city"
                    ng-options="city.name as city.name group by city.state disable when !city.hasTram for city in cities"></select>
        </div>


        <button type="button" class="btn btn-default" ng-click="add(newPlace)">Add this</button>
    </div>
    <div ng-if="updatModeFlag" class="panel-body">
        <label>Name</label>
        <input type="text" ng-model="placeToUpdate.name"><br />

        <label>City</label>
        <input type="text" ng-model="placeToUpdate.city"><br />

        <label>Street</label>
        <input type="text" ng-model="placeToUpdate.street"><br />

        <label>Number</label>
        <input type="text" ng-model="placeToUpdate.buildingNumber"><br />



        <label>Phone</label>
        <input type="text" ng-model="placeToUpdate.phone"><br />


        <button type="button" class="btn btn-default" ng-click="updatePlace(placeToUpdate)">Edit</button>
        <button type="button" class="btn btn-default" ng-click="cancelForm()">cancel</button>
    </div>
</div>