<!DOCTYPE html>
<html lang="en" ng-app="Workshop">
<head>
    <meta charset="UTF-8">
    <title>Workshop</title>

    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="../style/css/bootstrap.css" />

    <!-- Scripts -->
    <script type="text/javascript" src="../js/angular.js"></script>
    <script type="text/javascript" src="../js/jquery.js"></script>
    <script type="text/javascript" src="../js/bootstrap.js"></script>

    <!-- App module -->
    <script type="text/javascript" src="app.js"></script>
</head>
<body>

<div class="container" ng-controller="BaseController">
    <div class="header clearfix text-center">
        <h1 class="text-muted">Excercise 1</h1>
    </div>

    <div class="row">
        <div class="col-xs-4">
            <div class="panel panel-success">
                <div class="panel-heading">People List</div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item"  ng-repeat="man in peopleList">
                            {{man.fname}} {{man.lname}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-xs-8">
            <div class="panel panel-info">
                <div class="panel-heading">Details</div>
                <div class="panel-body">

                    <div class="row" ng-model="person">
                        <div class="col-xs-6">
                            <address>
                                <p><strong>{{person.company}}</strong></p>
                                <abbr title="Phone">Phone:</abbr> {{person.phone}}<br/>
                                <a href="#">{{person.email}}</a>
                            </address>
                            <address>
                                <span class="glyphicon glyphicon-envelope"></span>
                                {{person.address.city}} ({{person.address.state}})<br/>
                                {{person.address.streetAddress}} / {{person.address.zip}}
                            </address>

                        </div>
                        <div class="col-xs-6 text-right">
                            {{person.fname}}
                            {{person.lname}}
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>